<!DOCTYPE html>
<html>
<head>
  <title>ClerkFirst</title>
  <%= stylesheet_link_tag    "clerk_first/application", media: "all" %>
  <%= javascript_include_tag "clerk_first/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
