<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout__header-row portfolio-logo-row">
    <span class="mdl-layout__title">
      <div class="portfolio-logo"></div>
      <span class="mdl-layout__title">MyClerk is your clerk</span>
    </span>
  </div>
  <%= render partial: 'clerk_first/shared/main_menu', locals: { menu_type: :top_main_menu } %>
</header>