<% if menu_type == :top_main_menu %>
  <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link is-active" href="index.html">Home</a>
      <a class="mdl-navigation__link" href="about.html">About</a>
      <a class="mdl-navigation__link" href="contact.html">Contact</a>
      <%= link_to "my Clerk", new_user_session_path, :class => 'mdl-navigation__link'  %>
      <% unless user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'mdl-navigation__link'  %>
      <% end %>
    </nav>
  </div>
<% elsif menu_type == :sidebar_drawer_menu %>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link is-active" href="index.html">Home</a>
      <a class="mdl-navigation__link" href="about.html">About</a>
      <a class="mdl-navigation__link" href="contact.html">Contact</a>
      <a class="mdl-navigation__link" href="#">myClerk</a>
      <% unless user_signed_in? %>
        <a class="mdl-navigation__link" href="#">signUP</a>
      <% end %>
    </nav>
  </div>
<% end %>
